doctype html
html(lang='en')
  include ../includes/head.pug
  body
    h1= titre
    .home.container
        .row.col-lg-8.col-centered.intro
            p Sample pages with gallery image made with <mark>Pug</mark> template(Jade), <mark>NodeJS / Express.js</mark> server and <mark>MongoDB</mark> database
            .menu-home
                ul
                    li
                        a(href='polar-bear')
                            img(src='../img/PolarBearPlunge_EN-US12456463133_1366x768.jpg', alt='Polar bear')
                    li   
                        a(href='penguin')
                            img(src='../img/PenguinSchool_EN-US11478383380_1366x768.jpg', alt='Penguin')
                    li
                        a(href='porcupinefish')
                            img(src='../img/SpottedPorcupinefish_EN-US11134793223_1366x768.jpg', alt='Porcupinefish')
                    li
                        a(href='frogs')
                            img(src='../img/FrogSibs_EN-US11029023450_1366x768.jpg', alt='Frogs')
                    li
                        a(href='turtle')
                            img(src='../img/TurtleNTang_1366x768.jpg', alt='Turtle')
                    li
                        a(href='lion')
                            img(src='../img/PantheraLeo_EN-US7653600919_1366x768.jpg', alt='Lion')
                    
                    
    include ../includes/menu.pug
