| Votre prénom:
br
input(type='text', name='auteur', value='') 
br
| Votre commentaire:
textarea(rows='4', cols='50', name='texte', value='' id='textarea')
br
input.btn.btn-primary(type='submit', value='envoyer')